.bio-container {
  padding: 2rem;
  color: #d1d5db;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 19px;
}

.bio-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #10b981;
  text-align: center;
  margin-bottom: 2rem;
}

.bio-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

.bio-section {
  display: flex;
  background-color: #2d2f3b;
  padding: 2rem;
  gap: 5px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.bio-section h3 {
  font-size: 1.8rem;
  color: #10b981;
  margin-bottom: 1rem;
}

.bio-section p {
  font-size: large;
}

.download-cv-btn {
  background-color: #10b981;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.download-cv-btn:hover {
  background-color: #059669;
}

@media (max-width: 768px) {
  .bio-container {
    padding: 1rem;
  }

  .bio-title {
    font-size: 2rem;
  }

  .bio-section h3 {
    font-size: 1.5rem;
  }
}