.contact-container {
  max-width: 900px;
  width: 100%;
  margin: 100px auto;
  padding: 25px;
  background-color: #1f2333;
  border-radius: 15px;
  color: #d1d5db;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.contact-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #81e6d9;
}

.contact-subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #b0b3b8;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-form {
  flex: 2;
  background: #2d2f3b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #81e6d9;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #6b7280;
  border-radius: 8px;
  background-color: #1f2333;
  color: #d1d5db;
  transition: border-color 0.3s ease;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #6b7280;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #81e6d9;
  outline: none;
}

.submit-button {
  background-color: #81e6d9;
  color: #1f2333;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.second-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background: #2d2f3b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  align-items: center;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.6rem;
  margin-top: 10px;
}

.social-icons a {
  color: #81e6d9;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #b0b3b8;
  transform: scale(1.2);
}

.contact-cv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.download-cv-btn {
  background-color: #81e6d9;
  color: #1f2333;
  padding: 9px 11px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  margin: 0px !important;
}

.download-cv-btn:hover,
.meme-button:hover,
.submit-button:hover{
  background-color: #4fd1c5;
  transform: translateY(-3px);
}

.contact-humor-button {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-button {
  background-color: #81e6d9;
  color: #1f2333;
  padding: 14px 13px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-humor {
  text-align: center;
  cursor: pointer;
}

.humor-image {
  width: 200px;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.humor-text {
  margin-top: 10px;
  color: #81e6d9;
  font-size: 0.9rem;
}

.second-column>div>h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #4fd1c5;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-container{
    margin: 0 auto;
  }

  .contact-form,
  .second-column {
    width: 100%;
  }

  .submit-button,
  .download-cv-btn {
    width: 100%;
    margin-top: 15px;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-subtitle {
    font-size: 1rem;
  }

  .social-icons {
    gap: 15px;
    font-size: 1.4rem;
  }

  .pets-photo img.avatar {
    max-width: 120px;
    height: auto;
  }

  .second-column>div>h3 {
    font-size: 1rem;
  }
}