.contact-container {
  max-width: 900px;
  width: 100%;
  margin: 100px auto;
  padding: 25px;
  background-color: var(--nav-hover-bg-color);
  border-radius: 15px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--box-shadow-dark);
}

.contact-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 15px;
  color: var(--text-primary-color);
}

.contact-subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: var(--button-text-color);
}

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: var(--container-padding);
  flex-wrap: wrap;
}

.contact-form {
  flex: 2;
  background: var(--background-color);
  padding: var(--container-padding);
  border-radius: 15px;
  box-shadow: var(--box-shadow-medium);
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--link-color);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--icon-color);
  border-radius: 8px;
  background-color: var(--nav-hover-bg-color);
  color: var(--text-primary-color);
  transition: border-color 0.3s ease;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--button-text-color);
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--link-hover-color);
  outline: none;
}

.submit-button {
  background-color: var(--accent-color);
  color: var(--text-primary-color);
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.second-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background: var(--background-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  align-items: center;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.6rem;
  margin-top: 10px;
}

.social-icons a {
  color: var(--text-primary-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: var(--icon-hover-color);
  transform: scale(1.2);
}

.contact-cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.common-button {
  background-color: var(--accent-color);
  color: var(--text-primary-color);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  max-width: 100%; 
  font-size: 1.1rem;
}

.common-button:hover,
.submit-button:hover{
  background-color: var(--accent-hover-color);
  transform: translateY(-3px);
}

.contact-humor-button {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-humor {
  text-align: center;
  cursor: pointer;
}

.humor-image {
  width: 200px;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-medium);
}

.humor-text {
  margin-top: 10px;
  color: var(--text-primary-color);
  font-size: 0.9rem;
}

.second-column>div>h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--link-color);
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-container{
    margin: 0 auto;
  }

  .contact-form,
  .second-column {
    width: 100%;
  }

  .submit-button,
  .download-cv-btn {
    width: 100%;
    margin-top: 15px;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-subtitle {
    font-size: 1rem;
  }

  .social-icons {
    gap: 15px;
    font-size: 1.4rem;
  }

  .pets-photo img.avatar {
    max-width: 120px;
    height: auto;
  }

  .second-column>div>h3 {
    font-size: 1rem;
  }
}