.icon-button.mobile-menu-btn {
    display: none;
}

@media (max-width: 768px) {
    .icon-button.mobile-menu-btn {
        background: none;
        border: none;
        padding: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #d1d5db;
        position: fixed;
        right: 49px;
        top: 12px;
        z-index: 1002;
    }

    .icon-button.mobile-menu-btn:hover {
        background-color: #2d2f3b;
        border-radius: 4px;
        color: #81e6d9;
    }

    .mobile-sidebar {
        display: none;
        position: fixed;
        top: 51px;
        left: 0;
        height: 100vh;
        background-color: #1f2333;
        z-index: 999;
        width: 75%;
        max-width: 300px;
        overflow-y: auto;
        padding-top: 20px;
    }

    .mobile-sidebar-container .mobile-sidebar {
        display: block;
    }

    .mobile-sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-sidebar li {
        padding: 10px 16px;
        margin: 9px 0;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: flex-start;
        color: #d1d5db;
        justify-content: flex-start;
        flex-direction: row;
    }

    .mobile-sidebar li:hover,
    .mobile-sidebar li.active {
        background-color: #2d3748;
        color: #81e6d9;
    }

    .mobile-sidebar .child {
        padding-left: 20px;
        margin-left: 10px;
    }

    .mobile-expandable {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        align-content: space-between;
        align-items: baseline;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .mobile-expandable::after {
        content: '▼';
        font-size: 12px;
        margin-left: 5px;
        transition: transform 0.3s ease;
    }

    .mobile-expandable.expanded::after {
        transform: rotate(180deg);
    }

    .mobile-submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin-top: 5px;
    }

    .mobile-submenu.expanded {
        display: block;
        margin-top: 25px;
    }

    .mobile-submenu li {
        padding: 5px 0;
        border-bottom: 1px solid #2d2f3b;
        color: #d1d5db;
    }

    .mobile-submenu li:hover {
        background-color: #2d2f3b;
        color: #81e6d9;
    }

    .mobile-submenu li:last-child {
        border-bottom: none;
    }
}
