.notfound-container {
  text-align: center;
  margin-top: 50px;
}

.notfound-container h1 {
  font-size: 5rem;
  color: var(--accent-color); 
}

.notfound-container p {
  font-size: 1.5rem;
  color: var(--text-primary-color); 
}

.back-home-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color); 
  color: var(--button-text-color); 
  text-decoration: none;
  border-radius: var(--border-radius); 
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.back-home-btn:hover {
  background-color: var(--accent-hover-color); 
}