.projects-container {
  padding: 20px;
  background-color: #0e101c;
  border-radius: 10px;
  margin: 30px 60px;
  color: #d1d5db;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #10b981;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.project-card {
  background-color: #1f2333;
  border-radius: 8px;
  padding: 30px;
  width: 300px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: #2d2f3b;
}

.project-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #9ca3af;
  margin-bottom: auto;
  flex-grow: 1;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: flex-end;
}

.project-link {
  display: flex;
  align-items: center;
  color: #0ea5e9;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #38bdf8;
}

.project-icon {
  margin-right: 5px;
}

.project-link.disabled {
  pointer-events: none; 
  color: #6b7280; 
  opacity: 0.6; 
}

@media (max-width: 1024px) {
  .projects-list {
    justify-content: space-around;
  }

  .project-card {
    width: 250px; 
  }
}

@media (max-width: 768px) {
  .projects-container {
    margin: 20px 10px; 
    padding: 10px;
  }

  .projects-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .project-card {
    width: 100%;
  }

  .project-description {
    font-size: 0.9rem;
  }
}